*{
    margin: 0;
    padding: 0;;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(50deg, #8460ed, #ff1252);
}
.menu{
    position: relative;
    width: 278px;
    height: 213px;
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu li {
    position: absolute;
    list-style: none;
}
.toggle {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 2px 0px #888888;
    font-size: 2em;
    transition: transform 10s;
}
.toggle.active {
    translate: scale(25);
}